@import '@fontsource/roboto';
@import '@fontsource/jetbrains-mono';

* {
	font-family: var(--font-sans)
}

body,
html {
	background-color: var(--canvasBg);
	margin: 0px;
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:root {
	--font-sans: 'Roboto', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;
	--canvScale: 10;
	--canvTransformX: 0px;
	--canvTransformY: 0px;
	--canvX: 32px;
	--canvY: 32px;
	--vh: 0;
	--vw: 0;
}

.ui-theme-black {
	--bgMain: #070b10;
	--bgMainT: #070b10e3;
	--canvasBg: #101317;
	--bgLight: #181b1e;
	--bgDark: #0f1216;
	--bgDarkT: #0f1216e3;
	--textMain: #bcbec4;
	--textDim: #a8abb0;
	--important: #2741ff;
	--importantT: #2741ffa9;
	--error: #e0002c;
	--errorT: #e0002ca9;
	--importantText: #ffffff;
	--scrollTrack: #000007;
	--scrollHover: #222529;
	--toolBarDim: #3f4146;
	--toolBarHover: #7c7f84;
}

.ui-theme-dark {
	--bgMain: #18171a;
	--bgMainT: #18171ae3;
	--canvasBg: #202022;
	--bgLight: #262628;
	--bgDark: #131214;
	--bgDarkT: #131214e3;
	--textMain: #ffffff;
	--textDim: #cacaca;
	--important: #2741ff;
	--importantT: #2740ffa9;
	--error: #ff163d;
	--errorT: #ff163da9;
	--importantText: #ffffff;
	--scrollTrack: #201F22;
	--scrollHover: #3B3A3D;
	--toolBarDim: #49484a;
	--toolBarHover: #7f7f80;
}

.ui-theme-light {
	--bgMain: #ffffff;
	--bgMainT: #ffffffd5;
	--canvasBg: #eaeaee;
	--bgLight: #dbdde0;
	--bgDark: #eef0f5;
	--bgDarkT: #eef0f5d5;
	--textMain: #0b0c1a;
	--textDim: #1b1c2e;
	--important: #2741ff;
	--importantT: #2741ffa9;
	--error: #ff2d3e;
	--errorT: #ff2d3ea9;
	--importantText: #ffffff;
	--scrollTrack: #eaeaee;
	--scrollHover: #c0c2c9;
	--toolBarDim: #535a70;
	--toolBarHover: #181e31;
}